@charset "utf-8";
@import url(normalize.css);

/* 웹카페 레이아웃*/
.header, .navigation, .main, .footer{
  width: 1000px;
  margin: 0 auto;
  background: yellow;
}
/* 헤더 */
.header{
  height: 10vh; /*vh=화면의 1/10만큼*/
}
/*내비게이션*/
.nav-container{
  background-color: #988574;
}
.navigation{
  height: 10vh;
}
/*메인*/
.main{
  height: 70vh;
}
/*푸터*/
.footer-container{
  background-color: #988574;
}
.footer{
  height:10vh;
}