@charset "utf-8";
@import url(normalize.css);
@import url(fonts.css);
/* 박스 공통 */
*, *::before, *::after{
  box-sizing: border-box;
}
/* 스타일 초기화 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 숨김 콘텐츠 */
legend, .a11y{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0,0,0,0);
}
/* clearfix - float 이슈를 해결하기 위한 클래스 모듈 */
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
/* 하이퍼 링크 스타일 */
a{
  color: inherit;
  text-decoration: none;
}
/* 본문 스타일 */
html{
  font-size: 10px;
}
body{
  font-size: 1.6rem;
  color: #181818;
  font-family: 'Noto Sans Regular', sans-serif;
}
/* 가상 요소를 활용한 그리드 설정 */
/* body::after{
  content: "가상요소를 활용하여 추가한 텍스트";
  background: repeating-linear-gradient(to right, rgba(255,0,0,0.5), rgba(255,0,0,0.5) 65px, transparent 65px, transparent 85px),
              repeating-linear-gradient(to bottom, rgba(0,0,255,0.5), rgba(0,0,255,0.5) 1px, transparent 1px, transparent 16px);
  background-color: transparent;
  color: #fff;
  width: 1000px;
  height: 100vh;
  transform: translateX(-50%);
  position: absolute;
  top:0;
  left: 50%;
} */
/* 공통 레이아웃 */
.header, .navigation, .main, .footer{
  width: 100%;
}
/* 공통 검색 폼 */
input[name="search"]{
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 5px 5px 5px 10px;
}
/* 공통 내비게이션 */

/* 공통 메인 */
.main{
  background: orange;
  height: 70vh;
}
.recommend-book{
  background: yellow;
}
.news{
  background: brown;
}
.board{
  background: skyblue;
}
.favorite-site{
  background: teal;
}
.twitter{
  background: tomato;
}
/* 공통 푸터 */
.footer{
  background: violet;
  height: 10vh;
}
@media screen and (max-width: 999px){
  /* 모바일 그리드 설정 - 4col */
  .grid-show{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 0px repeat(4, 1fr) 0px;
    grid-template-rows: 100vh;
    grid-column-gap: 20px;
  }
  .grid-show .grid-unit:nth-child(1), 
  .grid-show .grid-unit:nth-child(6){
    width: 0;
  }
  .grid-show .grid-unit{
    background-color: rgba(0,0,255,0.5);
  }
  /* 모바일 헤더 */
  .header{
    background: #38302e;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
  }
  /* 모바일 로고 */
  .logo{
    padding: 10px 0;
  }
  .logo img{
    display: block;
  }
  /* 모바일 안내링크 */
  .member{
    display: flex;
    justify-content: flex-end;
    background: #988574;
    margin: 0 -20px;
    order: -1;
    padding: 10px 20px;
  }
  .member a{
    color: #fff;
    margin-left: 1em;
  }
  /* 모바일 검색 폼 */
  .search-form{
    padding-bottom: 10px;
  }
  .search-form fieldset{
    font-size: 0;
  }
  .search-form *{
    font-size: 1.6rem;
  }
  input[name="search"]{
    width: calc(100% - 40px);
  }
  .btn-search{
    position: relative;
    width: 30px;
    height: 30px;
    border: 0;
    padding: 0;
    margin-left: 10px;
    background: transparent;
  }
  .btn-search::after{
    content: "";
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("images/btn_search.png");
    background-size: 100% 100%;
  }
  /* 모바일 내비게이션 */
  /* 모바일 메인 메뉴 제어 버튼 */
  .btn-menu{
    width: 30px;
    height: 30px;
    border: 0;
    position: absolute;
    right: 20px;
    top: 70px;
    overflow: hidden;
    cursor: pointer;
    background: transparent;
  }
  .menubar{
    position: absolute;
    width: 100%;
    height: 25%;
    background: #fff;
    left: 0;
    transition: all 200ms;
  }
  .menubar-top{
    top: 0;
  }
  .menubar-middle{
    top: 50%;
    transform: translateY(-50%);
  }
  .menubar-bottom{
    top: 100%;
    transform: translateY(-100%);
  }
  .btn-menu-act .menubar-top{
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
  .btn-menu-act .menubar-middle{
    transform: translate(-100%, -50%);
  }
  .btn-menu-act .menubar-bottom{
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
  /* 모바일 메인 메뉴 */
  .menu{
    background: #000;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100vh;
    padding: 20px;
    transform: translateX(-100%);
    transition: all 200ms;
  }
  .menu-act{
    transform: translateX(0) !important;
  }
  .menu-item{
    margin: 10px 0;
  }
  .sub-menu{
    display: none;
  }
  .menu-item-act .sub-menu{
    display: block !important;
  }
  .sub-menu li{
    margin: 10px 0 10px 20px;
  }
  /* 모바일 메인 */
  .main{
    display: flex;
    flex-direction: column;

  }
  /* 모바일 푸터 */
}


@media screen and (min-width: 1000px) {
  /* 데스크탑 그리드 - 12col */
  .grid-show{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(12, 65px);
    grid-template-rows: 100vh;
    grid-column-gap: 20px;
  }
  .grid-show .grid-unit{
    background-color: rgba(255,0,0,0.5);
  }

  /* 웹카페 데스크탑 레이아웃 */
  .header,
  .navigation,
  .main,
  .footer {
    width: 1000px;
    margin: 0 auto;
  }
  /* 데스크탑 헤더 */
  .header{
    position: relative;
  }
  /* .header {
    display: grid;
    grid-template-columns: repeat(12, 65px);
    grid-template-rows: 50px 50px;
    grid-column-gap: 20px;
    align-items: center;
  } */
  /* 데스크탑 로고 */
  .logo{
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -30px;
  }
  /* 데스크탑 안내링크 */
  .member{
    grid-column: 9 / span 4;
    position: relative;
    right: -16px;
    font-size: 0;
    text-align: right;
  }
  .member li{
    font-size: 1.6rem;
    display: inline-block;
  }
  .member li:nth-child(-n+2)::after{
    content: "|";
  }
  .member a{
    display: inline-block;
    padding: 10px 1em;
  }
  /* 데스크탑 검색 폼 */
  .search-form{
    grid-column: 7 / span 6;
    grid-row: 2;
    justify-self: end;
    padding: 10px 0;
  }
  .search-form fieldset{
    float: right;
  }
  input[name="search"]{
    width: 400px;
  }
  .btn-search{
    border: 1px solid #aaa;
    border-radius: 3px;
    background: #988574;
    color: #fff;
    padding: 5px 10px;
  }


  /* 데스크탑 내비게이션 */
  .nav-container {
    background-color: #988574;
    box-shadow: 0 -2px 5px 0 rgba(0,0,0,0.85), 0 2px 5px 0 rgba(0,0,0,0.85);
  }
  .btn-menu{
    display: none;
  }
  .menu{
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 20px 0;
  }
  .menu-item-text{
    font-size: 1.8rem;
    font-family: "Noto Sans Bold";
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
  }
  .sub-menu li{
    margin: 10px 0 0 20px;
  }
  /* 데스크탑 메인 콘텐츠 */
  .main {
    height: 70vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .main > *{
    flex: auto 0 1;
  }
  .recommend-book{
    flex-basis: 320px;
  }
  .news{
    flex-basis: 660px;
  }
  .board{
    flex-basis: 320px;
  }
  .favorite-site{
    flex-basis: 235px;
  }
  .twitter{
    flex-basis: 405px;
  }



  /* 데스크탑 푸터 */
  .footer-container {
    background-color: #988574;
  }
  .footer {
    height: 10vh;
  }
}